
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "afxres.h"

#undef APSTUDIO_READONLY_SYMBOLS


#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)


IDR_MAINFRAME           ICON                    "res\\ExtendedEditControls.ico"


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "PackingTool Rebuild by JACK"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "trinityms.org"
            VALUE "LegalCopyright", "Copyright (C) 2023"
            VALUE "OriginalFilename", "PackingTool.EXE"
            VALUE "ProductName", "PackingTool"
            VALUE "ProductVersion", "1, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END







IDD_DIALOG_EXT DIALOGEX 0, 0, 175, 40
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP// | WS_CAPTION | WS_SYSMENU
CAPTION "dialog"
FONT 9, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    EDITTEXT        IDC_EDIT_EXT,52,11,119,12,ES_AUTOHSCROLL
    CTEXT           "",IDC_STATIC,8,1,161,8
    LTEXT           "file extension :",IDC_STATIC,4,12,44,8
    PUSHBUTTON      "Ok",IDOK,135,25,36,12
    PUSHBUTTON      "Cancel",IDCANCEL,98,25,36,12
END



ID_DESCRIPTION_FILE DIALOGEX 0, 0, 800, 600
//STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME 

//STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
//EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
CAPTION "PackingTool"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN


	//PUSHBUTTON   "OK", IDOK, 113, 41, 50, 14, WS_GROUP
	CONTROL         "", IDC_TAB, "SysTabControl32", WS_TABSTOP | 0x8, 0, 0, 800, 13
	LTEXT           "Static", IDC_TEXT, 55, 50, 140, 12, NOT WS_VISIBLE

	GROUPBOX        "File", IPAKMAN_PAKMAN_GROUP1, 1, 0, 104, 88
	

	//CONTROL         "", IDC_EDIT_TEST, "Edit", ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | NOT WS_TABSTOP, 109, 3, 0, 0
	//EDITTEXT        IDC_EDIT_TEST, 0, 0, 0, 0, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | NOT WS_TABSTOP

	CONTROL         "", IDC_SCINCTRL, "Scintilla", 
	ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | NOT WS_TABSTOP,//WS_TABSTOP,
	7, 7,257, 158
	
	
	PUSHBUTTON      "Settings", IDC_BUTTON_SETTING, 54, 56, 47, 12, WS_GROUP
	PUSHBUTTON      "OpenBin", ID_FILE_OPEN, 4, 56, 47, 12, WS_GROUP
	PUSHBUTTON      "Decrypt As", ID_FILE_SAVEAS, 54, 23, 47, 12, WS_GROUP

	PUSHBUTTON      "encrypt", IPAKMAN_BUTTON_ENCRYPT, 4, 9, 47, 12, WS_GROUP
	PUSHBUTTON      "encryptAs", IPAKMAN_BUTTON_ENCRYPTAS, 54, 9, 47, 12, WS_GROUP
	//PUSHBUTTON      "exit", IPAKMAN_BUTTON_EXIT, 4, 23, 47, 12
	PUSHBUTTON      "exit", IPAKMAN_BUTTON_EXIT, 4, 23, 47, 12//, BS_OWNERDRAW //| WS_GROUP//BS_OWNERDRAW | WS_TABSTOP
	//CONTROL         "exit", IPAKMAN_BUTTON_EXIT, "Button", BS_OWNERDRAW, 4, 23, 47, 12
	DEFPUSHBUTTON      "find", IPAKMAN_BUTTON_FIND, 85, 38, 18, 14, WS_GROUP
	PUSHBUTTON      "clear", IPAKMAN_BUTTON_CLEAR, 4, 74, 44, 12, WS_GROUP

	//CHECKBOX        "", IPAKMAN_BUTTON_CLEAR, 4, 74, 44, 12, BS_OWNERDRAW | BS_FLAT | NOT WS_TABSTOP
	EDITTEXT        IDC_EDIT_FINDSTR, 2, 38, 82, 14, ES_AUTOHSCROLL


	LTEXT           "", IDC_STATIC_Tip, 31, 287, 8, 8, NOT WS_VISIBLE
	LTEXT           "", IDC_STATIC_FILESIZETIP, 105, 301, 8, 8, NOT WS_VISIBLE
	CTEXT           "", IDC_STATIC_VER, 81, 79, 8, 8, NOT WS_VISIBLE


	
	
	RTEXT           "0", IPAKMAN_STATIC_FILENUMERROR, 50, 72, 44, 8
	RTEXT           "0", IPAKMAN_STATIC_FILENUM, 50, 80, 44, 8

	LISTBOX         IDC_LIST_FILE, 1, 68, 103, 279, LBS_OWNERDRAWVARIABLE | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP//BS_OWNERDRAW | LBS_NOINTEGRALHEIGHT | LBS_WANTKEYBOARDINPUT | WS_VSCROLL | WS_HSCROLL
END



#include "WordStyleDlg.rc"
#ifndef IDJ_STATIC 
#define IDJ_STATIC -1
#endif



IDJ_STYLER_DLG DIALOGEX 36, 44, 500, 246
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
CAPTION "Style Configurator"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
//CONTROL         "", IDC_BUTTON_COLOR, "Button", BS_OWNERDRAW, 5, 5, 50, 14

CONTROL         "", IDC_FR_BACKGROUND1, "Static", SS_BLACKFRAME, 265, 96, 18, 16
CONTROL         "", IDC_FR_TEXTGROUND1, "Static", SS_BLACKRECT, 265, 69, 18, 16

//PUSHBUTTON      "", IDC_BUTTON_TEXTCOLOR, 265, 69, 18, 17, BS_OWNERDRAW | WS_TABSTOP
//PUSHBUTTON      "", IDC_BUTTON_BACKCOLOR, 265, 96, 18, 17, BS_OWNERDRAW | WS_TABSTOP

//CHECKBOX        "Dark Mode", IPAKMAN_DARKMODE_CHECKBOX, 11, 45, 50, 10
CONTROL         "Dark Mode", IPAKMAN_DARKMODE_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 45, 50, 10
CONTROL         "Line Number", IDJ_LINE_NUMBER_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 55, 60, 10



GROUPBOX        "Border Width", IDC_BORDERWIDTH_STATIC, 12, 112, 70, 45, BS_CENTER
CONTROL         "", IDC_BORDERWIDTH_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | TBS_BOTH | TBS_NOTICKS | TBS_TRANSPARENTBKGND | WS_TABSTOP, 14, 125, 50, 13
LTEXT           "0", IDC_BORDERWIDTHVAL_STATIC, 65, 126, 12, 8
CONTROL         "No edge", IDC_CHECK_NOEDGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 19, 142, 60, 10



LTEXT           "Select theme : ", IDJ_SWITCH2THEME_STATIC, 6, 9, 83, 8, 0, WS_EX_RIGHT
COMBOBOX        IDJ_SWITCH2THEME_COMBO, 95, 7, 104, 78, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
LTEXT           "Foreground colour", IDJ_FG_STATIC, 203, 72, 59, 8, 0, WS_EX_RIGHT
LTEXT           "Background colour", IDJ_BG_STATIC, 203, 99, 59, 8, 0, WS_EX_RIGHT
COMBOBOX        IDJ_FONT_COMBO, 371, 68, 104, 78, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
COMBOBOX        IDJ_FONTSIZE_COMBO, 442, 95, 33, 82, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
CONTROL         "Bold", IDJ_BOLD_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 327, 88, 63, 10
CONTROL         "Italic", IDJ_ITALIC_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 327, 100, 62, 10
GROUPBOX        "Font Style", IDJ_FONTGROUP_STATIC, 311, 52, 169, 77, BS_CENTER
GROUPBOX        "Colour Style", IDJ_COLOURGROUP_STATIC, 191, 52, 111, 77, BS_CENTER
LTEXT           "Font name :", IDJ_FONTNAME_STATIC, 315, 71, 52, 8, 0, WS_EX_RIGHT
LTEXT           "Font size :", IDJ_FONTSIZE_STATIC, 388, 97, 51, 8, 0, WS_EX_RIGHT
LTEXT           "Style :", IDJ_STYLEDESC_STATIC, 87, 34, 68, 8
LTEXT           "                                                                                                                      ", IDJ_STYLEDESCRIPTION_STATIC, 190, 30, 295, 22
EDITTEXT        IDJ_DEF_EXT_EDIT, 17, 215, 61, 14, ES_AUTOHSCROLL | ES_READONLY
LTEXT           "Default ext. : ", IDJ_DEF_EXT_STATIC, 20, 203, 61, 8
EDITTEXT        IDJ_USER_EXT_EDIT, 93, 215, 71, 14, ES_AUTOHSCROLL
LTEXT           "User ext. :", IDJ_USER_EXT_STATIC, 95, 204, 71, 8
CONTROL         "Underline", IDJ_UNDERLINE_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 327, 112, 80, 10
EDITTEXT        IDJ_DEF_KEYWORDS_EDIT, 191, 151, 136, 43, ES_MULTILINE | ES_READONLY | WS_VSCROLL
EDITTEXT        IDJ_USER_KEYWORDS_EDIT, 347, 150, 134, 43, ES_MULTILINE | WS_VSCROLL
LTEXT           "Default keywords", IDJ_DEF_KEYWORDS_STATIC, 193, 141, 122, 8
LTEXT           "User-defined keywords", IDJ_USER_KEYWORDS_STATIC, 349, 140, 126, 8
LTEXT           "+", IDJ_PLUSSYMBOL_STATIC, 335, 166, 8, 8
PUSHBUTTON      "Cancel", IDCANCEL, 332, 222, 57, 14
DEFPUSHBUTTON      "Save && Close", IDJ_SAVECLOSE_BUTTON, 255, 222, 69, 14

CONTROL         "", IDJ_SC_PERCENTAGE_SLIDER, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | TBS_TRANSPARENTBKGND | NOT WS_VISIBLE | WS_TABSTOP, 441, 235, 53, 10
CONTROL         "Transparency", IDJ_SC_TRANSPARENT_CHECK, "Button", BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP, 431, 221, 63, 10
LISTBOX         IDJ_LANGUAGES_LIST, 17, 46, 59, 146, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
LISTBOX         IDJ_STYLES_LIST, 87, 46, 76, 146, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
GROUPBOX        "", IDJ_STATIC, 7, 24, 166, 212
LTEXT           "Language :", IDJ_LANGDESC_STATIC, 19, 34, 61, 8
GROUPBOX        "", IDJ_STATIC, 181, 24, 310, 184
LTEXT           "+", IDJ_PLUSSYMBOL2_STATIC, 83, 217, 8, 8

CONTROL         "Enable global foreground colour", IDJ_GLOBAL_FG_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 191, 138, 132, 10
CONTROL         "Enable global background colour", IDJ_GLOBAL_BG_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 191, 153, 131, 10
CONTROL         "Enable global font", IDJ_GLOBAL_FONT_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 327, 134, 153, 10
CONTROL         "Enable global font size", IDJ_GLOBAL_FONTSIZE_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 327, 149, 135, 10
CONTROL         "Enable global bold font style", IDJ_GLOBAL_BOLD_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 328, 164, 135, 10
CONTROL         "Enable global italic font style", IDJ_GLOBAL_ITALIC_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 328, 179, 135, 10
CONTROL         "Enable global underline font style", IDJ_GLOBAL_UNDERLINE_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 328, 194, 135, 10

LTEXT           "Go to settings", IDJ_GLOBAL_GOTOSETTINGS_LINK, 210, 153, 131, 10, WS_TABSTOP

PUSHBUTTON      "Default Settings", IDC_BUTTON_DEFAULT, 178, 222, 69, 14
END




IDR_COLOREDITCTX MENU DISCARDABLE
BEGIN
POPUP "Ctx"
BEGIN
MENUITEM "Undo", ID_EDIT_UNDO
MENUITEM "Redo", ID_EDIT_REDO
MENUITEM SEPARATOR
MENUITEM "Cut", ID_EDIT_CUT
MENUITEM "&Copy", ID_EDIT_COPY
MENUITEM "Paste", ID_EDIT_PASTE
MENUITEM SEPARATOR
MENUITEM "Select &All", ID_EDIT_SELECT_ALL
END
END

STRINGTABLE DISCARDABLE
BEGIN
//IDS_ABOUTBOX            "&About ComboBoxTutorial..."
IDS_STRING102           "Text editor"
IDS_STRING103           "Line number margin"
IDS_STRING104           "Current line background"
IDS_STRING105           "Selected text colour"
IDS_STRING106           "Shell window"

IDS_STRING200	"WORD"
IDS_STRING201	"STRING"
IDS_STRING202	"CHARACTER"
IDS_STRING203	"PREPROCESSOR"
IDS_STRING204	"COMMENT"
IDS_STRING205	"COMMENTLINE"
IDS_STRING206	"COMMENTDOC"
IDS_STRING207	"NUMBER"
IDS_STRING208	"OPERATOR"
IDS_STRING209	"UUID"
IDS_STRING210	"Brace Matching"

END


IDR_XLISTBOX MENU DISCARDABLE
BEGIN
POPUP "XListBox"
BEGIN
MENUITEM "&Select All", ID_EDIT_SELECT_ALL
MENUITEM "&Copy", ID_EDIT_COPY
MENUITEM "C&lear", ID_EDIT_CLEAR
MENUITEM "P&aste", ID_EDIT_PASTE
END
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
IDB_SPLASH              BITMAP  DISCARDABLE     "res\\test.bmp"

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//
#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE 9, 1
#pragma code_page(1252)
#endif //_WIN32
#include "res\ExtendedEditControls.rc2"
#include "afxres.rc"
#include "include\OXBitmapButton.rc"
#include "include\OXPopupBarCtrl.rc"


#endif

#endif    // not APSTUDIO_INVOKED

