
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "afxres.h"

#undef APSTUDIO_READONLY_SYMBOLS


#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)




VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "PackingTool Rebuild by JACK"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "trinityms.org"
            VALUE "LegalCopyright", "Copyright (C) 2023"
            VALUE "OriginalFilename", "PackingTool.EXE"
            VALUE "ProductName", "PackingTool"
            VALUE "ProductVersion", "1, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END






IDD_DIALOG1 DIALOGEX 0, 0, 186, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION |
WS_SYSMENU
CAPTION "I am a modeless dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "OK", IDOK, 129, 7, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 129, 24, 50, 14
EDITTEXT        IDC_EDIT15, 30, 55, 125, 18, ES_AUTOHSCROLL
END



ID_DESCRIPTION_FILE DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME 

CAPTION "PackingTool"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

	EDITTEXT        IDC_EDIT1, 92, 7, 20, 14, NOT WS_VISIBLE

	CONTROL         "", IDC_TAB, "SysTabControl32", WS_TABSTOP | 0x8 | NOT WS_VISIBLE, 0, 0, 0, 0
	LTEXT           "Static", IDC_TEXT, 55, 50, 140, 12, NOT WS_VISIBLE

	

	PUSHBUTTON      "encrypt", IPAKMAN_BUTTON_ENCRYPT, 4, 9, 47, 12, WS_GROUP | NOT WS_VISIBLE
	PUSHBUTTON      "encryptAs", IPAKMAN_BUTTON_ENCRYPTAS, 54, 9, 47, 12, WS_GROUP | NOT WS_VISIBLE
	PUSHBUTTON      "exit", IPAKMAN_BUTTON_EXIT, 4, 23, 47, 12, NOT WS_VISIBLE
	PUSHBUTTON      "DecryptAs", ID_FILE_SAVEAS, 54, 23, 47, 12, WS_GROUP | NOT WS_VISIBLE
	PUSHBUTTON      "OpenBin", ID_FILE_OPEN, 4, 56, 47, 12, WS_GROUP | NOT WS_VISIBLE
	PUSHBUTTON      "Settings", IDC_BUTTON_SETTING, 54, 56, 47, 12, WS_GROUP | NOT WS_VISIBLE

	

	PUSHBUTTON      "clear", IPAKMAN_BUTTON_CLEAR, 4, 74, 44, 12, WS_GROUP | NOT WS_VISIBLE

	LISTBOX         IDC_LIST_FILE, 1, 68, 103, 279, LBS_OWNERDRAWVARIABLE | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP //| WS_THICKFRAME




	
	
	CONTROL       "", IDC_EDIT_FINDSTR, "Edit", ES_AUTOHSCROLL | NOT WS_VISIBLE, 1, 1, 81, 14
	DEFPUSHBUTTON      "find", IPAKMAN_BUTTON_FIND, 83, 1, 18, 14, WS_GROUP | NOT WS_VISIBLE
	
	GROUPBOX        "", IPAKMAN_PAKMAN_GROUP1, 1, 12, 99, 22
	RTEXT           "&0", IPAKMAN_STATIC_FILENUMERROR,	50, 17, 44, 8
	RTEXT           "&0", IPAKMAN_STATIC_FILENUM,		50, 25, 44, 8
	LTEXT           "(null)", IPAKMAN_STATIC_EOLCONVERSION, 5, 21, 55, 8
	
	//CONTROL         "", IDC_SCINCTRL, "Scintilla",
	//ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,
	//109, 0, 0, 0//7, 7, 257, 158

	

	LTEXT           "", IDC_STATIC_Tip, 31, 287, 8, 8, NOT WS_VISIBLE
	LTEXT           "", IDC_STATIC_FILESIZETIP, 105, 301, 8, 8, NOT WS_VISIBLE
	CTEXT           "", IDC_STATIC_VER, 81, 79, 8, 8, NOT WS_VISIBLE	
	
	

	
END



//#include "WordStyleDlg.rc"
//#ifndef IDJ_STATIC 
//#define IDJ_STATIC -1
//#endif






IDR_COLOREDITCTX MENU DISCARDABLE
BEGIN
POPUP "Ctx"
BEGIN
MENUITEM "Undo", ID_EDIT_UNDO
MENUITEM "Redo", ID_EDIT_REDO
MENUITEM SEPARATOR
MENUITEM "Cut", ID_EDIT_CUT
MENUITEM "&Copy", ID_EDIT_COPY
MENUITEM "Paste", ID_EDIT_PASTE
MENUITEM SEPARATOR
MENUITEM "Select &All", ID_EDIT_SELECT_ALL
END
END

STRINGTABLE
BEGIN
//IDP_OLE_INIT_FAILED     "OLE initialization failed.  Make sure that the OLE libraries are the correct version."
ID_QUICKFIND_NEXT       "Find Next"
//IDP_FAILED_TO_CREATE    "Failed to create object.  Make sure the object is entered in the system registry."
ID_QUICKFIND_PREVIOUS   "Find Previous"
ID_QUICKFIND_ALL        "Find All"
ID_QUICKFIND_FINDWHAT   "Find..."
END

STRINGTABLE
BEGIN
//IDS_EDIT_MENU           "Edit"
ID_QUICKFIND_CLEAR      "Clear search"
IDR_QUICKFIND_CLOSE     "Close"
ID_QUICKFIND_REPLACENEXT "Replace next"
ID_QUICKFIND_REPLACEALL "Replace all"
ID_QUICKFIND_MATCHCASE  "Match case"
ID_QUICKFIND_MATCHWORD  "Match whole word"
ID_QUICKFIND_REGEX      "Use Regular Expressions"
END

IDR_QUICKFIND_ACCEL ACCELERATORS
BEGIN
//VK_ESCAPE, ID_QUICKFIND_NEXT, VIRTKEY, NOINVERT
"C", ID_QUICKFIND_MATCHCASE, VIRTKEY, ALT, NOINVERT
"W", ID_QUICKFIND_MATCHWORD, VIRTKEY, ALT, NOINVERT
VK_F3, ID_QUICKFIND_NEXT, VIRTKEY, NOINVERT
VK_F3, ID_QUICKFIND_PREVIOUS, VIRTKEY, SHIFT, NOINVERT
"E", ID_QUICKFIND_REGEX, VIRTKEY, ALT, NOINVERT
"F", ID_EDIT_FIND, VIRTKEY, CONTROL, NOINVERT
"H", ID_EDIT_REPLACE, VIRTKEY, CONTROL, NOINVERT
"R", ID_QUICKFIND_REPLACENEXT, VIRTKEY, ALT, NOINVERT
"A", ID_QUICKFIND_REPLACEALL, VIRTKEY, ALT, NOINVERT
END

STRINGTABLE DISCARDABLE
BEGIN
//IDS_ABOUTBOX            "&About ComboBoxTutorial..."
IDS_STRING102           "Text editor"
IDS_STRING103           "Line number margin"
IDS_STRING104           "Current line background"
IDS_STRING105           "Selected text colour"
IDS_STRING106           "Shell window"

IDS_STRING200	"WORD"
IDS_STRING201	"STRING"
IDS_STRING202	"CHARACTER"
IDS_STRING203	"PREPROCESSOR"
IDS_STRING204	"COMMENT"
IDS_STRING205	"COMMENTLINE"
IDS_STRING206	"COMMENTDOC"
IDS_STRING207	"NUMBER"
IDS_STRING208	"OPERATOR"
IDS_STRING209	"UUID"
IDS_STRING210	"Brace Matching"

END

IDR_XLISTBOX MENU DISCARDABLE
BEGIN
	POPUP "XListBox"
	BEGIN
		MENUITEM "C&lear", ID_EDIT_CLEAR
	END
END

IDC_EDITORCONTEXT MENU DISCARDABLE
BEGIN
POPUP "XListBox"
BEGIN
MENUITEM "&Select All", ID_EDIT_SELECT_ALL
MENUITEM "&Copy", ID_EDIT_COPY
MENUITEM "D&elete", ID_EDIT_CLEAR
MENUITEM "P&aste", ID_EDIT_PASTE
END
END

IDR_MENUBAR MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open Multiple...", ID_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "Save All a Cop&y As Plain Text... (non-encrypted)", ID_FILE_SAVEAS
		MENUITEM "Save All a Cop&y As Binary files... (AES-encrypted)", IPAKMAN_BUTTON_ENCRYPTAS
		MENUITEM SEPARATOR
		MENUITEM "Clos&e All", IPAKMAN_BUTTON_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IPAKMAN_BUTTON_EXIT	
	END

	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo", ID_EDIT_UNDO
		MENUITEM "&Redo", ID_EDIT_REDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t", ID_EDIT_CUT
		MENUITEM "&Copy", ID_EDIT_COPY
		MENUITEM "&Paste", ID_EDIT_PASTE
		MENUITEM "&Select All", ID_EDIT_SELECT_ALL
		MENUITEM SEPARATOR
		MENUITEM "&Fix Current File Line Endings", IPAKMAN_STATIC_EOLCONVERSION
		MENUITEM "&Fix All File Line Endings", IPAKMAN_STATIC_ALLEOLCONVERSION
		MENUITEM SEPARATOR
		MENUITEM "Preview Using Old Editor Environment", IDJ_MENU_PREVIEW
	END

	POPUP "Se&ttings"
	BEGIN
		MENUITEM "Style Configurator...", IDC_BUTTON_SETTING
	END
	MENUITEM "ENCRYPT", IPAKMAN_BUTTON_ENCRYPT
	MENUITEM "test(modeless)", IDJ_MENU_TEST
END


#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
IDB_SPLASH              BITMAP  DISCARDABLE     "res\\test.bmp"
IDR_MAINFRAME           ICON                    "res\\ExtendedEditControls.ico"
IDC_MARGIN				CURSOR  DISCARDABLE     "res\\progress.ani"

IDC_ARROW				CURSOR  DISCARDABLE     "res\\progress.ani"

ID_QUICKFIND_NEXT       ICON                    "res\\FindNext.ico"

ID_QUICKFIND_CLEAR      ICON                    "res\\FindClear.ico"

IDR_QUICKFIND_MAG       ICON                    "res\\FindMag.ico"

ID_QUICKFIND_MATCHCASE  ICON                    "res\\MatchCase.ico"

ID_QUICKFIND_MATCHWORD  ICON                    "res\\MatchWord.ico"

ID_QUICKFIND_REGEX      ICON                    "res\\RegEx.ico"

ID_QUICKFIND_REPLACEALL ICON                    "res\\ReplaceAll.ico"

ID_QUICKFIND_REPLACENEXT ICON                    "res\\ReplaceNext.ico"

IDR_QUICKFIND_CLOSE     ICON                    "res\\FindClose.ico"

ID_QUICKFIND_PREVIOUS   ICON                    "res\\FindPrevious.ico"

ID_QUICKFIND_ALL        ICON                    "res\\FindMag.ico"

ID_QUICKFIND_DOCK       ICON                    "res\\Dock.ico"

ID_QUICKFIND_FLOAT      ICON                    "res\\Float.ico"


IDC_BUTTON_DEFAULT  ICON                    "res\\MatchCase.ico"
#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//
#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE 9, 1
#pragma code_page(1252)
#endif //_WIN32
//#include "res\ExtendedEditControls.rc2"

#include "afxres.rc"
//#include "include\OXBitmapButton.rc"
//#include "include\OXPopupBarCtrl.rc"


#endif

#endif    // not APSTUDIO_INVOKED

