
#include "windows.h"
#include "resource.h"

IDD_DIALOG_PREVIEW_EXT DIALOGEX 0, 0, 400, 250//175, 40
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP// | WS_CAPTION | WS_SYSMENU
CAPTION "dialog"
FONT 9, "MS Shell Dlg", 0, 0, 0x0
BEGIN
//CONTROL       "", IDC_EDIT_EXT, "Edit", ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | NOT WS_TABSTOP, 0, 0, 400, 222
EDITTEXT        IDC_EDIT_EXT, 0, 0, 400, 222, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | NOT WS_TABSTOP
    PUSHBUTTON      "Ok",IDOK,360,235,36,12
    PUSHBUTTON      "Cancel",IDCANCEL,323,235,36,12
END
