
#include "windows.h"
#include "resource.h"

IDD_QUICK_FIND_REPLACE DIALOGEX 0, 0, 150, 49
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CLIPSIBLINGS | WS_BORDER
//STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
//EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
FONT 8, "MS Shell Dlg", 350, 0, 0x1
BEGIN
COMBOBOX        ID_QUICKFIND_FINDWHAT, 8, 3, 93, 145, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
COMBOBOX        ID_QUICKFIND_REPLACEWITH, 8, 18, 93, 118, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
PUSHBUTTON      "OK", IDOK, 103, 2, 33, 14
PUSHBUTTON      "R", ID_QUICKFIND_REPLACENEXT, 103, 17, 14, 14
PUSHBUTTON      "A", ID_QUICKFIND_REPLACEALL, 118, 17, 14, 14
CONTROL         "", ID_QUICKFIND_MATCHCASE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 33, 14, 14
CONTROL         "", ID_QUICKFIND_MATCHWORD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 22, 33, 14, 14
CONTROL         "", ID_QUICKFIND_REGEX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 36, 33, 14, 14
COMBOBOX        ID_QUICKFIND_SCOPE, 51, 33, 80, 71, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
PUSHBUTTON      "X", IDCANCEL, 135, 2, 14, 14
CONTROL         "*", ID_QUICKFIND_FLOAT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP /*| NOT WS_VISIBLE*/, 0, 0, 10, 10
END
//////////////////////////////////////////









IDJ_STYLER_DLG DIALOGEX 36, 44, 500, 246

///STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION |
//WS_SYSMENU

STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE

CAPTION "Style Configurator"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
//CONTROL         "", IDC_BUTTON_COLOR, "Button", BS_OWNERDRAW, 5, 5, 50, 14

CONTROL         "", IDC_FR_BACKGROUND1, "Static", SS_BLACKFRAME, 265, 96, 18, 16
CONTROL         "", IDC_FR_TEXTGROUND1, "Static", SS_BLACKRECT, 265, 69, 18, 16

//PUSHBUTTON      "", IDC_BUTTON_TEXTCOLOR, 265, 69, 18, 17, BS_OWNERDRAW | WS_TABSTOP
//PUSHBUTTON      "", IDC_BUTTON_BACKCOLOR, 265, 96, 18, 17, BS_OWNERDRAW | WS_TABSTOP

//CHECKBOX        "Dark Mode", IPAKMAN_DARKMODE_CHECKBOX, 11, 45, 50, 10
CONTROL         "Dark Mode", IPAKMAN_DARKMODE_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 45, 50, 10
CONTROL         "Line Number", IDJ_LINE_NUMBER_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 55, 60, 10
CONTROL         "Color Syntax", IDJ_CB_COLOR_SYNTAX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 65, 60, 10
CONTROL         "Enable EOL Mark", IDJ_CB_ENABLE_EOL_FLAG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 75, 66, 10
CONTROL         "Use One Window", IDJ_CB_OPEN_FILE_NEW_WINDOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 85, 66, 10

GROUPBOX        "Border Width", IDC_BORDERWIDTH_STATIC, 12, 112, 70, 45, BS_CENTER
CONTROL         "", IDC_BORDERWIDTH_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | TBS_BOTH | TBS_NOTICKS | TBS_TRANSPARENTBKGND | WS_TABSTOP, 14, 125, 50, 13
LTEXT           "0", IDC_BORDERWIDTHVAL_STATIC, 65, 126, 12, 8
CONTROL         "No edge", IDC_CHECK_NOEDGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 19, 142, 60, 10



LTEXT           "Select theme : ", IDJ_SWITCH2THEME_STATIC, 6, 9, 83, 8, 0, WS_EX_RIGHT
COMBOBOX        IDJ_SWITCH2THEME_COMBO, 95, 7, 104, 78, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
LTEXT           "Foreground colour", IDJ_FG_STATIC, 203, 72, 59, 8, 0, WS_EX_RIGHT
LTEXT           "Background colour", IDJ_BG_STATIC, 203, 99, 59, 8, 0, WS_EX_RIGHT
COMBOBOX        IDJ_FONT_COMBO, 371, 68, 104, 78, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
COMBOBOX        IDJ_FONTSIZE_COMBO, 442, 95, 33, 82, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
CONTROL         "Bold", IDJ_BOLD_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 327, 88, 63, 10
CONTROL         "Italic", IDJ_ITALIC_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 327, 100, 62, 10
GROUPBOX        "Font Style", IDJ_FONTGROUP_STATIC, 311, 52, 169, 77, BS_CENTER
GROUPBOX        "Colour Style", IDJ_COLOURGROUP_STATIC, 191, 52, 111, 77, BS_CENTER
LTEXT           "Font name :", IDJ_FONTNAME_STATIC, 315, 71, 52, 8, 0, WS_EX_RIGHT
LTEXT           "Font size :", IDJ_FONTSIZE_STATIC, 388, 97, 51, 8, 0, WS_EX_RIGHT
LTEXT           "Style :", IDJ_STYLEDESC_STATIC, 87, 34, 68, 8
LTEXT           "                                                                                                                      ", IDJ_STYLEDESCRIPTION_STATIC, 190, 30, 295, 22
EDITTEXT        IDJ_DEF_EXT_EDIT, 17, 215, 61, 14, ES_AUTOHSCROLL | ES_READONLY
LTEXT           "Default ext. : ", IDJ_DEF_EXT_STATIC, 20, 203, 61, 8
EDITTEXT        IDJ_USER_EXT_EDIT, 93, 215, 71, 14, ES_AUTOHSCROLL
LTEXT           "User ext. :", IDJ_USER_EXT_STATIC, 95, 204, 71, 8
CONTROL         "Underline", IDJ_UNDERLINE_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 327, 112, 80, 10
EDITTEXT        IDJ_DEF_KEYWORDS_EDIT, 191, 151, 136, 43, ES_MULTILINE | ES_READONLY | WS_VSCROLL
EDITTEXT        IDJ_USER_KEYWORDS_EDIT, 347, 150, 134, 43, ES_MULTILINE | WS_VSCROLL
LTEXT           "Default keywords", IDJ_DEF_KEYWORDS_STATIC, 193, 141, 122, 8
LTEXT           "User-defined keywords", IDJ_USER_KEYWORDS_STATIC, 349, 140, 126, 8

PUSHBUTTON      "Cancel", IDCANCEL, 332, 222, 57, 14
DEFPUSHBUTTON      "Save && Close", IDJ_SAVECLOSE_BUTTON, 255, 222, 69, 14

CONTROL         "", IDJ_SC_PERCENTAGE_SLIDER, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | TBS_TRANSPARENTBKGND | NOT WS_VISIBLE | WS_TABSTOP, 441, 235, 53, 10
CONTROL         "Transparency", IDJ_SC_TRANSPARENT_CHECK, "Button", BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP, 431, 221, 63, 10
LISTBOX         IDJ_LANGUAGES_LIST, 17, 46, 59, 146, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
LISTBOX         IDJ_STYLES_LIST, 87, 46, 76, 146, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
GROUPBOX        "", IDJ_STATIC, 7, 24, 166, 212
LTEXT           "Language :", IDJ_LANGDESC_STATIC, 19, 34, 61, 8
GROUPBOX        "", IDJ_STATIC, 181, 24, 310, 184


CONTROL         "Enable global foreground colour", IDJ_GLOBAL_FG_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 191, 138, 132, 10
CONTROL         "Enable global background colour", IDJ_GLOBAL_BG_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 191, 153, 131, 10

CONTROL         "Enable global font", IDJ_GLOBAL_FONT_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | NOT WS_VISIBLE, 327, 134, 153, 10
CONTROL         "Enable global font size", IDJ_GLOBAL_FONTSIZE_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | NOT WS_VISIBLE, 327, 149, 135, 10
CONTROL         "Enable global bold font style", IDJ_GLOBAL_BOLD_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | NOT WS_VISIBLE, 328, 164, 135, 10
LTEXT           "+", IDJ_PLUSSYMBOL_STATIC, 335, 166, 8, 8, NOT WS_VISIBLE
LTEXT           "+", IDJ_PLUSSYMBOL2_STATIC, 83, 217, 8, 8, NOT WS_VISIBLE
CONTROL         "Enable global italic font style", IDJ_GLOBAL_ITALIC_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | NOT WS_VISIBLE, 328, 179, 135, 10
CONTROL         "Enable global underline font style", IDJ_GLOBAL_UNDERLINE_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | NOT WS_VISIBLE, 328, 194, 135, 10

LTEXT           "Go to settings", IDJ_GLOBAL_GOTOSETTINGS_LINK, 210, 153, 131, 10, WS_TABSTOP

PUSHBUTTON      "Default Settings", IDC_BUTTON_DEFAULT, 178, 222, 69, 14
END







/////////////////////////////////////////////////////

